body {
    background-color: blue;
}

.screenshot-container-landscape {
    width: 1200px;
    height: 800px;
    overflow: hidden;
    margin: 5rem;
    /* border: solid 1px black; */
}

.grid-container {
    transform: rotate(-45deg) translate(-35px, -396px);
    width: 1709px;
}

.grid-wrapper {
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

.grid-wrapper-offset {
    display: flex;
    gap: 2rem;
    transform: translate(250px, 0px);
}

.grid-image {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 24px -16px rgba(0,0,0,.2),0 1px 2px 0 rgba(0,0,0,.031);
    border: solid 1px #eaeaea;
}

.trio-image {
    object-fit: cover;
    height: 550px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 14px 40px -7px rgb(88 81 81 / 13%);
}

.trio-image-main {
    position: absolute;
    border: solid 1px #eaeaea;
    transform: translate(395px, 60px);
    z-index: 10;
}

.trio-image-left {
    position: absolute;
    border: solid 1px #eaeaea;
    transform: translate(95px, 143px) rotate(356deg);
    z-index: 1;
}

.trio-image-right {
    position: absolute;
    border: solid 1px #eaeaea;
    transform: translate(606px, 179px) rotate(4deg);
    z-index: 5;
}

.screenshot-container-landscape-responsive {
    width: 1165px;
    height: 748px;
    overflow: hidden;
    margin: 5rem;
    /* border: solid 1px black; */
}

.responsive-design-desktop {
    transform: translate(209px, 36px);
    position: absolute;
    object-fit: cover;
    object-position: top;
    width: 750px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 14px 40px -7px rgb(88 81 81 / 13%);
    border: solid 1px #ababab;
}

.responsive-design-tablet {
    transform: translate(550px, 328px);
    position: absolute;
    object-fit: cover;
    width: 570px;
    height: 380px;
    border-radius: 15px;
    box-shadow: 0 14px 40px -7px rgb(88 81 81 / 13%);
    border: solid 1px #ababab;
}

.responsive-design-mobile {
    object-position: top left;
    position: absolute;
    object-fit: cover;
    width: 200px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 14px 40px -7px rgb(88 81 81 / 13%);
    border: solid 1px #ababab;
}

.responsive-design-mobile-one {
    transform: translate(234px, 254px);
    z-index: 10;
}

.responsive-design-mobile-two {
    transform: translate(69px, 150px);
}

/* duel mobile */

.screenshot-container-square {
    width: 800px;
    height: 800px;
    overflow: hidden;
    margin: 5rem;
    /* border: solid 1px black; */
}

.duel-mobile {
    object-position: top left;
    position: absolute;
    object-fit: cover;
    width: 275px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 14px 40px -7px rgb(88 81 81 / 13%);
    border: solid 1px #ababab;
}

.duel-mobile-one {
    transform: translate(441px, 179px);
    z-index: 10;
}

.duel-mobile-two {
    transform: translate(82px, 73px);
}